<ul class="list-group">
  <li class="list-group-item">id : <%= @memo[0] %></li>
  <li class="list-group-item">タイトル : <%= @memo[1] %></li>
  <li class="list-group-item">内容 : <%= @memo[2] %></li>
</ul>
<div class="d-flex mb-4">
  <form action="/memos/<%= @memo[0] %>/edit" method="get">
    <input type="submit" value="編集" class="btn btn-primary me-2">
  </form>
  <form action="/memos/<%= @memo[0] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="削除" class="btn btn-danger">
  </form>
</div>
